.chartbtns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
}

.chartbtns >button{
    height: fit-content;
    width: fit-content;
    font-size: smaller;
}

iframe{
    border: 1px solid black;
}

canvas{
    border: 1px solid black;
}

.details{
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    width:max-content;
    /* font-weight: bold; */
    gap:10px
}

.list-group-item{
    width: 300px;
    /* text-align: left; */
    font-size: medium;
    
    
}
.right{
    text-align: right;
}
.left{
    text-align: left;
    font-weight: bold;
}


