
<section >
    <div class="chartbtns">
     
        <button (click)="fetchData(Stock, '1')" class="btn " style="background-color:  rgb(252,206,115);">1D</button>
        <button (click)="fetchData(Stock, '7')" class="btn " style="background-color:  rgb(252,206,115);">1W</button>
        <button (click)="fetchData(Stock, '30')" class="btn " style="background-color:  rgb(252,206,115);">1M</button>
        <button (click)="fetchData(Stock, '90')" class="btn " style="background-color:  rgb(252,206,115);">3M</button>
        <button (click)="fetchData(Stock, '180')" class="btn " style="background-color:  rgb(252,206,115);">6M</button>
        <button (click)="fetchData(Stock, '365')" class="btn " style="background-color:  rgb(252,206,115);">1Y</button>
        <button (click)="fetchData(Stock, '1825')" class="btn " style="background-color:  rgb(252,206,115);">5Y</button>
        <button (click)="switch()" class="btn " style="background-color:  rgb(252,206,115);" ><span class="material-icons" style="font-size: 19px;"> candlestick_chart </span></button>
      </div>
      <br>
      <div style="overflow-x: scroll; height: 400px; width: 800px; margin-left:1vw" class="charts" *ngIf="flag=='line'">
        <canvas #chartCanvas></canvas>
      </div>
      <iframe *ngIf="flag=='candle'"
        [src]="finurl | mySafe"
        frameborder="0"
        scrolling="no"
        width="800px"
        height="400px"
        style="margin-left: 1vw"
      >
      </iframe>
      


<br><br><br>
<div class="details">
  <div class="d1">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="left">Day's Range</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="right">  {{companyquote["dayLow"]}} - {{companyquote["dayHigh"]}} </span></li>
      <li class="list-group-item"><span class="left">52 wk Range</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["yearLow"]}} - {{companyquote["yearHigh"]}}</span></li>
      <li class="list-group-item"><span class="left">Prev. Close</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["previousClose"]}}</span></li>
      <li class="list-group-item"><span class="left">Open</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["open"]}}</span></li>
      <li class="list-group-item"><span class="left">Volume</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["volume"]}}</span></li>
      <li class="list-group-item"><span class="left">Exchange</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["exchange"]}}</span></li>
      <li class="list-group-item"><span class="left">Market Cap</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["marketCap"]}}</span></li>
      <li class="list-group-item"><span class="left">Beta</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyprof["beta"]}}</span></li>
      <li class="list-group-item"><span class="left">P/E Ratio</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["pe"]}}</span></li>
    </ul>
  </div>
  <div class="d1">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="left">Type</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> Equity</span></li>
      <li class="list-group-item"><span class="left">Market</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> USA</span></li>
      <li class="list-group-item"><span class="left">ISIN</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyprof["isin"]}}</span></li>
      <li class="list-group-item"><span class="left">CUSIP</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyprof["cusip"]}}</span></li>
      <li class="list-group-item"><span class="left">Shares Outstanding</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["sharesOutstanding"]}}</span></li>
      <li class="list-group-item"><span class="left">Industry</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyprof["industry"]}}</span></li>
      <li class="list-group-item"><span class="left">EPS</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["eps"]}}</span></li>
      <li class="list-group-item"><span class="left">Next Earnings Date</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["earningsAnnouncement"].slice(0,10)}}</span></li>
      <li class="list-group-item"><span class="left">Avg. Volume </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="right"> {{companyquote["avgVolume"]}}</span></li>
    </ul>
  </div>
</div>
</section>



<router-outlet></router-outlet>